
{% extends 'base.html' %}
{% load static %}
{% block content %}

            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/beautiful-woman-with-backpack-smiling-holding-binoculars_176420-4266.webp' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Endless Adventures</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5"> Every story is a new adventure waiting to be explored</p>

                                    <a href="{% url 'about' %}" class="btn custom-btn">Learn more about us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/medium-shot-woman-reading-book_23-2149073182.webp' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Dive into Knowledge</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Discover a world of wisdom exceptional book collections </p>

                                    <a href="{% url 'books' %}" class="btn custom-btn">Explore books</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/slideshow/studio-shot-young-african-man-against-brown-background.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Timeless Creations</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Crafting classics for tomorrow</p>

                                    <a href="{% url 'contact' %}" class="btn custom-btn">Work with us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="about section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">Get started with <span>NAN</span> MEDIA </h2>
                        </div>

                        <div class="col-lg-2 col-12 mt-auto mb-auto">
                            <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Introduction</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">How we work?</button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-10 col-12">
                            <div class="tab-content mt-2" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/girl-pointing.JPG' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">  Where <span>Culture</span> meets <span>Creativity</span></h4>

                                                <p>We are an emerging Publishing House and audio-visual content creation company based in Cameroon, dedicated to showcasing the rich cultural diversity of the nation</p>

                                                <p>Explore our world of creativity and discover the vibrant stories that define us.</p>

                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="{% url 'about' %}" class="custom-link mb-2">
                                                        Learn more about us
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <!-- <div class="ratio ratio-16x9">
                                                <iframe src="https://www.youtube-nocookie.com/embed/f_7JqPDWhfw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div> -->
                                            
                                        
                                                <img src="{% static 'images/girl-pointing.JPG' %}" class="img-fluid" alt="">
                                       
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">A <span>Unique</span> approach</h4>
                                                <p>
                                                    Our experienced team of Editors, screenwriters, content developers, and directors work tirelessly to bring your vision to life.
                                                    <p>
                                                    Whether it's crafting engaging TV dramas, epic series, or thought-provoking documentaries, 
                                                    we leverage bilingual, multicultural sensibility to deliver content that resonates globally
                                                    </p>
                                                   
                                                </p>
                                                <!-- <p>Over three years in business, We’ve had the chance to work on a variety of projects, with companies</p>

                                                <p>Custom work is branding, web design, UI/UX design</p> -->

                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="{% url 'contact' %}" class="custom-link mb-2">
                                                        Work with us
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/show.JPG' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">What we do</h4>

                                                <p>NAN Media is your one-stop destination for comprehensive content solutions. Our capabilities extend across a diverse range of audio-visual domains including:</p>

                                                <div class="skill-thumb mt-3">

                                                    <strong>Sitcoms</strong>
                                                        <span class="float-end"><i class="bi-check-circle"></i></span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                            </div>

                                                    <strong>Comedy</strong>
                                                        <span class="float-end"><i class="bi-check-circle"></i></span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                            </div>

                                                    <strong>Documentaries</strong>
                                                        <span class="float-end"><i class="bi-check-circle"></i></span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>
                                                    <strong>TV Talk Shows</strong>
                                                        <span class="float-end"><i class="bi-check-circle"></i></span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>
                                                       

                                                </div>
                                                
                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="{% url 'content_list' %}" class="custom-link mb-2">
                                                        Explore More
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/girl-in-library.JPG' %}" class="img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="px-5 py-5 py-lg-0">
                                
                                <h2 class="mb-4"> One <span>Book</span>  at a Time</h2>

                                <p class="lead mb-4">
                                    NAN Media's curated collection of books spans genres, offering a diverse tapestry of stories that resonate with the heart of Cameroon and echo across the globe.
                                </p>

                                <a href="{% url 'books' %}" class="custom-link">
                                    Explore Books
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 text-center">
                            <h2 class="mb-5">Featured Books</h2>
                        </div>

                     
                        {% for book in books %}
                                <div class="col-lg-3 col-12 mb-3">
                                    <div class="product-thumb">
                                        <a href="{% url 'details' slug=book.slugify id=book.id %}">
                                            <img src="{{book.image_url}}" class="img-fluid product-image" alt="">
                                        </a>

                                        {% if book.tag %}
                                            <div class="product-top d-flex">
                                                            <span class="product-alert"> 
                                                            {{book.tag}} 
                                                            </span>                                   
                                                <!-- <a href="#" class="bi-heart-fill product-icon ms-auto"></a> -->
                                            </div>
                                        {%endif%}

                                        <div class="product-info d-flex">
                                            <div>
                                                <h5 class="product-title mb-0">
                                                    <a href="{% url 'details' book.slugify book.id %}" class="product-title-link">{{book.title}}</a>
                                                </h5>

                                                <p class="product-p">{{book.author}}</p>
                                                
                                               
                                                <p>
                                                    {% if book.premium_price and book.premium_price > 0 %}
                                                        <strike class="text-danger">{{book.premium_price}}XAF </strike>
                                                    {% endif %}
                                                    {{book.price}}XAF
                                                </p>
                                            </div>

                                            <!-- <small class="product-price text-muted ms-auto mt-auto mb-5">XAF 35</small> -->
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                       

                        

                        <div class="col-12 text-center">
                            <a href="{% url 'books' %}" class="view-all">View All Books</a>
                        </div>

                    </div>
                </div>
            </section>
{% endblock content %}