{% extends 'base.html' %}
{% load static %}

{% block content %}



            <header class="site-header section-padding d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12">
                            <h4>
                                <span class="d-block text-dark">Book Info</span>
                             <!-- <span class="d-block text-dark">Fashionable Stuffs</span> -->
                            </h4>
                        </div>
                    </div>
                </div>
            </header>

            <section class="product-detail section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="product-thumb">
                                <img src="{% if book.cover_image %} {{book.cover_image.url}} {% else %} {{book.image_url}} {% endif %}" class="img-fluid product-image" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="product-info d-flex">
                                <div>
                                    <h2 class="product-title mb-0">{{book.title}}</h2>

                                    <p class="product-p">
                                        {{book.author}} <br>
                                        {% if book.isbn %}
                                          ISBN : 13E4F23
                                        {% endif %}
                                        
                                    </p>
                                    <p class="product-p">
                                      {% if book.premium_price %}
                                             <strike class="text-danger">{{book.premium_price}}XAF</strike>
                                      {% endif %}
                                         {{book.price}}XAF
                                    </p>
                                </div>

                                <!-- <small class="product-price text-muted ms-auto mt-auto mb-5">  <strike class="text-danger">25,000XAF</strike> 14,000XAF</small> -->
                            </div>

                            <div class="product-description">

                                <strong class="d-block mt-4 mb-2">Description</strong>

                                <p class="l mb-5">
                                    {{book.description}}
                                </p>
                            </div>

                            <div class="product-cart-thumb row">
                                <!-- <div class="col-lg-6 col-12">
                                    
                                    <select class="form-select cart-form-select" id="inputGroupSelect01">
                                        <option selected>Quantity</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div> -->

                                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                                    {% if request.user.is_authenticated %}
                                    <button type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal">Buy Now</button>
                                    {% else %}
                                    <a href="/accounts/signin/next=/{{book.id}}"  class="btn custom-btn cart-btn">Buy Now</a>
                                    {% endif %}
                                </div>

                                <p>
                                    <!-- <a href="#" class="product-additional-link">Details</a> -->

                                    <small  class="mt-1">Instant download after purchase</small>
                                </p>
                               
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <section class="related-product section-padding border-top">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h3 class="mb-5">You might also like</h3>
                        </div>
                        {% for book in random_books %} 
                     
                        <div class="col-lg-3 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="{% url 'details' book.slugify book.id %}">
                                    <img src="{{book.image_url}}" style="width: 100%;" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    {% if book.tag %}
                                    <span class="product-alert me-auto">{{book.tag}}</span>
                                    {% endif %}

                                    <a href="#" class="bi-heart-fill product-icon"></a>
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="{% url 'details' book.slugify book.id %}" class="product-title-link">{{book.title}}</a>
                                        </h5>

                                        <p class="product-p">{{book.author}}</p>
                                  
                                        <p>
                                            {% if book.premium_price %}
                                            <strike class="text-danger">{{book.premium_price}}XAF </strike>
                                            {% endif %}
                                            {{book.price}}XAF
                                        </p>
                                        
                                    </div>

                                    <!-- <small class="product-price text-muted ms-auto mt-auto mb-5">XAF 25</small> -->
                                </div>
                                
                            </div>
                        </div>

                        {% endfor %}
                        
                    </div>
                </div>
            </section>
                    <!-- CART MODAL -->
        <div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                                <img src="{% if book.cover_image %} {{book.cover_image.url}} {% else %} {{book.image_url}} {% endif %}" class="img-fluid product-image" alt="">
                            </div>

                            <div class="col-lg-6 col-12 mt-3 mt-lg-0">
                                <h3 class="modal-title" id="exampleModalLabel">Buy Now</h3>
                                <div id="paypal-button-container"></div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="modal-footer">
                        <div class="row w-50">
                            <button type="button" class="btn custom-btn cart-btn ms-lg-4">Checkout</button>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>

    <script
     src="https://www.paypal.com/sdk/js?client-id=ATwarqgSaSKHQvnm3vr7DuwmSNaQ3ULGmqXUJhE77fBj_aP1--aAp9xXoJTS6Gi-TpI57GunahMD2UGv&currency=USD" data-sdk-integration-source="button-factory"></script>
</script>

	<script>

		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

		var total = '{{book.price}}'
		var productId = '{{book.id}}'

		function completeOrder() {
			var url = "{% url 'complete' %}"

			fetch(url, {
				method: 'POST',
				headers: {
					'content-type': 'application/json',
					'X-CSRFToken': csrftoken,
				},
				body: JSON.stringify({ 'productId': productId })
			})
            .then(response => response.json())
            .then(data => {
            window.location.href = data.download_link; //Trigger download link
            document.getElementById('exampleModalLabel').innerHTML = '';
            document.getElementById('paypal-button-container').innerHTML = `<h5>Thank you for the purchase</h5><br> Please <a class="text-primary" href="${data.download_link}"><b> Click here </b></a> if download have not started!`;
            })
            .catch(error => {
            // Handle any errors that occur during the fetch request
            console.error('Error:', error);
            });
		}		



		// Render the PayPal button into #paypal-button-container
		paypal.Buttons({

			// Set up the transaction
			createOrder: function (data, actions) {
				return actions.order.create({
					purchase_units: [{
						amount: {
							value: total
						}
					}]
				});
			},

			// Finalize the transaction
			onApprove: function (data, actions) {
				return actions.order.capture().then(function (details) {
					// Show a success message to the buyer
					completeOrder()
					alert('Transaction completed by ' + details.payer.name.given_name + '!');
				});
			}


		}).render('#paypal-button-container');
	</script>

{% endblock content %}