{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    <span class="d-block text-primary text-capitalize">{{content.genre}}</span>
                    <!-- <span class="d-block text-dark">Fashionable Stuffs</span> -->
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="product-detail section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="product-thumb">
                    <img src="{{content.thumbnail.url}}" class="img-fluid product-image" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="product-info d-flex">
                    <div>
                        <h2 class="product-title mb-0">{{content.title}}</h2>

                        <p class="product-p"><i class="bi-tag"></i> {{content.genre}}</p>
                    </div>

                    <small class="product-price text-muted ms-auto mt-auto mb-5"> </small>
                </div>
                   

                <div class="product-description">
                    <div class=" ">
                        <p class="product-p"><strong>Release Date</strong>: {{content.release_date}} <br>
                        <strong>Director</strong> : {{content.director}}
                        </p>
                      
                    </div>
                 

                    <strong class="d-block mt-4 mb-2">Description</strong>

                    <p class=" mb-5 product-p">{{content.description}}</p>
                
                </div>

                <div class="product-cart-thumb row">
                
            <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <!-- <button type="submit" class="btn custom-btn cart-btn" data-bs-toggle="modal" data-bs-target="#cart-modal"> <i class="bi-arrow-left-circle-fill"></i> </button> -->
                    </div> 
                    <!--

                    <p>
                        <a href="#" class="product-additional-link">Details</a>

                        <a href="#" class="product-additional-link">Delivery and Payment</a>
                    </p> -->
                </div>

            </div>

        </div>
    </div>
</section>

{% endblock content %}