{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/news-style.css' %}">
<header class="site-header section-padding d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-12">
                <h1>
                    We keep you  <span class="d-block text-primary">updated!</span>
                    <!-- <span class="d-block text-dark">and our answers to them</span> -->
                </h1>
            </div>
        </div>
    </div>
</header>

<section class="faq section-padding">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 col-12">
             

         

                <h2 class="mt-2">Latest <span>News</span></h2>


            </div>
         

        </div>
        <div class="row">
            
            {% for article in news_articles %}
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card border-0 rounded-0 hover-shadow">
                  <div class="card-img position-relative">
                    <img class="card-img-top rounded-0" src="{{article.image.url}}" alt="event thumb">
                    <!-- <div class="card-date"><span>18</span><br>December</div> -->
                  </div>
                  <div class="card-body">
                    <!-- location -->
                    <p><i class="bi-calendar text-primary mr-2"></i><small> {{article.publication_date}}</small></p>
              
                        <div class="h5"><b>{{article.title}}</b></div>
              
                    <a href="{% url 'news_article_details' article.slugify article.id %}" class="btn custom-btn cart-btn w-50">Read More</a>
                  </div>
                </div>
              </div>
              {% endfor %}
                
        </div>
    </div>
</section>
{% endblock content %}